/* line 1, ../scss/styles.scss */
.center {
  text-align: center;
}

/* line 2, ../scss/styles.scss */
.clear {
  clear: both;
}

/* line 3, ../scss/styles.scss */
.rounded {
  border-radius: 20px;
}

/* line 4, ../scss/styles.scss */
.inline {
  display: inline-block;
}

/* line 5, ../scss/styles.scss */
.floatleft {
  float: left;
}

/* line 6, ../scss/styles.scss */
.floatright {
  float: right;
}

/* line 7, ../scss/styles.scss */
.seeme {
  color: #f07010;
}

/* line 10, ../scss/styles.scss */
body {
  font-family: "verdana";
  background-color: #111;
  color: #000;
}

/* line 16, ../scss/styles.scss */
p {
  text-align: justify;
  text-justify: newspaper;
}
/* line 19, ../scss/styles.scss */
p span.hide {
  display: none;
}

/* line 22, ../scss/styles.scss */
a {
  color: #004292;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition-property: color, text;
  -webkit-transition-duration: 600ms;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: color, text;
  -moz-transition-duration: 600ms;
  -moz-transition-timing-function: linear, ease-in;
  transition-property: color, text;
  transition-duration: 600ms;
  transition-timing-function: linear, ease-in;
}
/* line 35, ../scss/styles.scss */
a:hover {
  color: #ffaa00;
}

/* line 40, ../scss/styles.scss */
hr {
  border: 0;
  width: 70%;
  text-align: center;
  margin: 3em auto 3em;
  color: #004282;
  background-color: #004282;
  height: 1px;
}

/* line 50, ../scss/styles.scss */
h1 {
  font-size: 16pt;
  padding: 0.5em 0em 1.0em 0em;
  color: #000;
}

/* line 56, ../scss/styles.scss */
h2 {
  font-size: 16pt;
  color: #000;
}

/* line 61, ../scss/styles.scss */
h3 {
  font-size: 11pt;
  padding: 1em 0em 0.5em 0em;
  color: #000;
}

/* line 67, ../scss/styles.scss */
h4 {
  font-size: 8pt;
  color: #000000;
}

/* line 72, ../scss/styles.scss */
h5 {
  font-size: 10pt;
  color: #fff;
}

/* line 79, ../scss/styles.scss */
.background {
  text-align: center;
}

/* line 83, ../scss/styles.scss */
.sheet {
  position: relative;
  margin: 0em auto;
  padding: 1em;
  width: 1024px;
  color: #000;
  text-align: left;
}

/* line 92, ../scss/styles.scss */
.content {
  line-height: 1.7em;
  background: #fff;
  margin: 150px 0 0 0;
}
/* line 96, ../scss/styles.scss */
.content p {
  margin-bottom: 1.5em;
}

/* line 99, ../scss/styles.scss */
.contentContainer {
  margin: 0em 0em 0em 0em;
  padding: 4em 8em 4em 8em;
}

/* line 108, ../scss/styles.scss */
.indholdsheader {
  text-align: left;
  background: #777;
  padding: 0 0 0 4em;
  color: #eee;
  border-radius: 7px;
  text-shadow: 0 1px 1px #141414;
}

/* line 117, ../scss/styles.scss */
.level2 {
  margin-left: 4em;
  font-style: italic;
}

/* line 124, ../scss/styles.scss */
.header {
  background-image: url("/img/menubanner.jpg");
  position: absolute;
  top: 86px;
  padding: 0;
  background-repeat: no-repeat;
  background-color: #004282;
  height: 150px;
  width: 1024px;
}

/* line 135, ../scss/styles.scss */
.menu {
  position: relative;
  width: 1024px;
  top: 0em;
  left: 0em;
  background: #ffffff;
  height: 70px;
}

/* line 145, ../scss/styles.scss */
[role=navigation] {
  position: relative;
  top: 170px;
  padding: 0;
  float: right;
}

/* line 152, ../scss/styles.scss */
.menu-header {
  cursor: default;
}

/* line 156, ../scss/styles.scss */
[role=navigation] > ul {
  position: relative;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  background: url("/img/gradient.png") repeat-x 0 -110px;
  line-height: 100%;
  display: inline-block;
  border-radius: 2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
/* line 166, ../scss/styles.scss */
[role=navigation] > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 174, ../scss/styles.scss */
[role=navigation] > ul li {
  margin: 0 5px;
  padding: 4px 0 4px;
  float: left;
  position: relative;
  list-style: none;
}
/* line 180, ../scss/styles.scss */
[role=navigation] > ul li:hover > ul {
  display: block;
}
/* line 182, ../scss/styles.scss */
[role=navigation] > ul a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  border-radius: 1.6em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 191, ../scss/styles.scss */
[role=navigation] > ul a:hover {
  background: #eee;
  color: #444;
}
/* line 196, ../scss/styles.scss */
[role=navigation] > ul ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 220px;
  position: absolute;
  z-index: 12;
  top: 36px;
  left: 0;
  background: #eee;
  border: solid 1px #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 209, ../scss/styles.scss */
[role=navigation] > ul ul ul {
  left: 181px;
  top: -3px;
}
/* line 213, ../scss/styles.scss */
[role=navigation] > ul ul li {
  float: none;
  margin: 0;
  padding: 0;
  border-radius: 9px;
}
/* line 219, ../scss/styles.scss */
[role=navigation] > ul ul li:hover > a {
  background: #eee;
  color: #444;
  border-top: solid 1px #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 white;
}
/* line 226, ../scss/styles.scss */
[role=navigation] > ul ul li:hover a {
  background: none;
  border: none;
  color: #444;
  box-shadow: none;
}
/* line 232, ../scss/styles.scss */
[role=navigation] > ul ul li:hover li a {
  background: none;
  border: none;
  color: #444;
  box-shadow: none;
}
/* line 240, ../scss/styles.scss */
[role=navigation] > ul ul a {
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
}
/* line 243, ../scss/styles.scss */
[role=navigation] > ul ul a:hover {
  background: #eee;
  color: #ffaa00 !important;
  border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 256, ../scss/styles.scss */
.footer {
  position: relative;
  width: 1024px;
  top: 0em;
  left: 0em;
  background: #ffffff;
  background-image: url("/img/footerbanner.jpg");
  background-repeat: no-repeat;
  height: 75px;
  font-size: 10pt;
}

/* line 268, ../scss/styles.scss */
.footerbox {
  position: relative;
  text-align: center;
  top: 0.7em;
}
/* line 272, ../scss/styles.scss */
.footerbox h5 {
  color: #000;
}
/* line 273, ../scss/styles.scss */
.footerbox a {
  color: #000;
}

/* line 276, ../scss/styles.scss */
.footernavigation {
  position: relative;
  margin: 0;
  padding: 0;
  background: url("/img/gradient.png") repeat-x 0 -110px;
  line-height: 100%;
  display: inline-block;
  border-radius: 2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
/* line 285, ../scss/styles.scss */
.footernavigation li {
  float: center;
  position: relative;
  list-style: none;
}
/* line 290, ../scss/styles.scss */
.footernavigation p {
  font-weight: bold;
  margin: 11px 0;
  color: #000;
  text-decoration: none;
  padding: 0px 20px;
  border-radius: 1.6em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 299, ../scss/styles.scss */
.footernavigation a {
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 4px 14px;
  border-radius: 1.6em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 306, ../scss/styles.scss */
.footernavigation a:hover {
  color: #444;
  background: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 white;
}

/* line 318, ../scss/styles.scss */
.facebookOuter {
  background-color: #F4F4F4;
  width: 325px;
  padding: 10px 0 10px 10px;
  height: 500px;
  border: 1px solid #CCCCCC;
  margin-bottom: 4em;
  margin-top: 21px;
  float: right;
}

/* line 328, ../scss/styles.scss */
.facebookInner {
  height: 500px;
  overflow: hidden;
}

/* line 335, ../scss/styles.scss */
.centerbox {
  text-align: center;
  width: 100%;
  padding: 0em;
}

/* line 341, ../scss/styles.scss */
.dobbelbox {
  width: 100%;
  padding: 0;
}

/* line 343, ../scss/styles.scss */
.pictureContainer {
  position: relative;
  margin: 0px auto;
  padding: 1em 0 0 0;
  border-radius: 10px;
}

/* line 350, ../scss/styles.scss */
.centerCaptionContainer {
  text-align: center;
  margin: 0px auto;
  padding: 0;
}
/* line 354, ../scss/styles.scss */
.centerCaptionContainer p {
  text-align: center;
  margin-bottom: 0em;
}
/* line 358, ../scss/styles.scss */
.centerCaptionContainer h4 {
  text-align: center;
  margin-bottom: 1.5em;
}

/* line 364, ../scss/styles.scss */
.floatLeft, .floatRight {
  float: left;
  width: 50%;
  margin: 0;
  padding: 2em 0 2em 0;
  /*background-color: #aed;*/
}

/* line 372, ../scss/styles.scss */
.floatRight {
  float: right;
  width: 46%;
  margin: 0;
}

/* line 378, ../scss/styles.scss */
.clearLeftRight {
  height: 0;
  margin: 0;
  font-size: 1px;
  padding: 0;
  line-height: 0;
  clear: both;
}
